<div id="accordion" role="tablist" aria-multiselectable="true" style="max-width: 400px">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
           aria-controls="collapseOne">
          Web Design
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block p-0">
        <div class="line">
          <div class="col-8">
            <span>Ecommerce</span>
          </div>
          <div class="col-4">
            <div class="crl">
              <span>3</span>
            </div>
          </div>
        </div>
        <div class="line">
          <div class="col-8">
            <span>Blogs</span>
          </div>
          <div class="col-4">
            <div class="crl">
              <span>3</span>
            </div>
          </div>
        </div>
        <div class="line">
          <div class="col-8">
            <span>Portfolio</span>
          </div>
          <div class="col-4">
            <div class="crl">
              <span>3</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
           aria-controls="collapseTwo">
          Print Design
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block p-0">
        <div class="line">
          <div class="col-8">
            <span>Ecommerce</span>
          </div>
          <div class="col-4">
            <div class="crl">
              <span>3</span>
            </div>
          </div>
        </div>
        <div class="line">
          <div class="col-8">
            <span>Blogs</span>
          </div>
          <div class="col-4">
            <div class="crl">
              <span>3</span>
            </div>
          </div>
        </div>
        <div class="line">
          <div class="col-8">
            <span>Portfolio</span>
          </div>
          <div class="col-4">
            <div class="crl">
              <span>3</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
           aria-controls="collapseThree">
          Photography
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block p-0">
        <div class="line">
          <div class="col-8">
            <span>Ecommerce</span>
          </div>
          <div class="col-4">
            <div class="crl">
              <span>3</span>
            </div>
          </div>
        </div>
        <div class="line">
          <div class="col-8">
            <span>Blogs</span>
          </div>
          <div class="col-4">
            <div class="crl">
              <span>3</span>
            </div>
          </div>
        </div>
        <div class="line">
          <div class="col-8">
            <span>Portfolio</span>
          </div>
          <div class="col-4">
            <div class="crl">
              <span>3</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
