@import "../../../styles";

.card {
  border: 0 !important;
}

.card-header {
  .main-bg();
  padding: 15px;
  display: flex;
  justify-content: space-between;
  h5 {
    a {
      color: white;
      text-decoration: none;
    }
  }
  > div:first-of-type {
    white-space: nowrap;
  }
  > div:last-of-type {
    div {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 2px 5px;
      border: 2px solid white;
      border-radius: 50%;
    }
  }
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 2px solid @separator-color;
  div {
    display: inline-flex;
    font-size: 110%;
    .text-color();
    .font();
  }
  div:last-of-type {
    justify-content: center;
  }
}

.crl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  border: 1px solid @text-color;
  border-radius: 50%;

}
