<div class="hero">
  <header class="hidden-md-down">
    <div class="hero-img">
      <img src="../../../assets/hero/ironman2.jpg" alt="hero">
    </div>
  </header>

  <div class="">
    <div class="hero-info">
      <div class="">
        <h5>Tony Stark is Iron Man</h5>
      </div>
      <div class="">
        <span>Posted on 30th August 2013</span>
      </div>

    </div>
  </div>

  <footer class="">
    <div >
      <a href="#">
        <img class="img-fluid" src="../../../assets/hero/eye.png" alt="eye">
        <span class="hidden-md-down">256</span>
      </a>
    </div>
    <div >
      <a href="#">
        <img class="img-fluid" src="../../../assets/hero/comment.png" alt="eye">
        <span class="hidden-md-down">12</span>
      </a>
    </div>
    <div >
      <a href="#">
        <img class="img-fluid" src="../../../assets/hero/like.png" alt="eye">
        <span class="hidden-md-down">83</span>
      </a>
    </div>
  </footer>
</div>
