@import "../../../styles";
.hero{
  width: 100%;
}
.hero-img {
  img {
    width: 100%;
  }
}
.hero-info {
  display: block;
  padding: 15px 10px;
  width: 100%;
  background-color: white;
  .font();
  h5 {
    color: #606060;

  }
  span {
    font-size: 80%;
    font-weight: bold;
    color: @main-color;
  }
}

footer {
  background-color: @main-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  div {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    padding: 10px 0;
    height: 100%;
    border-right: 1px solid white;
    a {
      text-decoration: none;
      color: white;
      img{
        width: 50%;
      }
    }
  }
}

footer div:last-of-type {
  border: 0;
}
