@import "../../../styles";

#weather{
  .main-bg();
  .font();
  font-size: 110%;
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    color: white;
    div:last-of-type{
      span:first-of-type{
        margin-right: 5px;
        color: black;
      }
    }
  }
  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid @separator-color;
    //.debug();
    > div{
      display: block;
      text-align: center;
      height: 100%;
      padding-top: 10px;
      border-right: 2px solid @separator-color;
      img{
        width: 35px ;
      }
    }
    > div:last-of-type{
      border: 0;
    }
    p {
      color: white;
      overflow: hidden;
    }
  }
}
.body-block{
  margin: 12% auto;
  //.debug();
  display: flex;
  justify-content: space-around;
  align-items: center;
  div:last-of-type{
    //.debug();
    font-size: 500%!important;
    color: white;
  }
}
