<div id="weather">
  <header>
    <div>Exeter, UK</div>
    <div>
      <span>&deg;F</span>
      <span>&deg;C</span>
    </div>
  </header>

  <div class="body-block">
    <div class="hidden-lg-down">
      <img src="../../../assets/weather/cloudy.png" alt="cloudy">
    </div>
    <div>
      <span>21 &deg;</span>
    </div>
  </div>

  <footer class="hidden-lg-down">
    <div class="col-3">
      <div>
        <img src="../../../assets/weather/sun.png" alt="sun">
      </div>
      <p>Monday</p>
    </div>

    <div class="col-3">
      <div>
        <img src="../../../assets/weather/cloudy.png" alt="cloudy">
      </div>
      <p>Tuesday</p>
    </div>

    <div class="col-3">
      <div>
        <img src="../../../assets/weather/sun.png" alt="sun">
      </div>
      <p>Wednesday</p>
    </div>

    <div class="col-3">
      <div>
        <img src="../../../assets/weather/rain.png" alt="rain">
      </div>
      <p>Thursday</p>
    </div>
  </footer>
</div>
