@import "../../../styles";

.socials {
  display: inline-block;
  div {
    display: flex;
    flex-wrap: nowrap;
  }
}
img {
  width: 158px;
}

@space:40px;
.top{
  margin-bottom: @space;
  div:first-of-type{
    margin-right: @space;
  }
}
.bottom{
  div:first-of-type{
    margin-right: @space;
  }
}
