@import "../../../styles";

.socials {
  display: inline-block;
  //padding-left: 45px;
  div {
    display: flex;
    flex-wrap: nowrap;
  }
}
img {
  width: 158px;
}
@space:40px;
.top{
  //padding-left: 20px;
  margin-bottom: @space;
  div:first-of-type{
    margin-right: @space;
  }
}
.bottom{
  //padding-left: 20px;
  div:first-of-type{
    margin-right: @space;
  }
}
