<div class="socials">
  <div class="row">
    <div class="s-item">
      <a href="#">
        <img src="../../../assets/socials/twitter.png" class="img-fluid" alt="twitter">
      </a>
    </div>
    <div class="s-item">
      <a href="#">
        <img src="../../../assets/socials/youtube.png" class="img-fluid" alt="youtube">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="s-item">
      <a href="#">
        <img src="../../../assets/socials/google-plus.png" class="img-fluid" alt="google">
      </a>
    </div>
    <div class="s-item">
      <a href="#">
        <img src="../../../assets/socials/facebook.png" class="img-fluid" alt="facebook">
      </a>
    </div>
  </div>
</div>

