@import "../styles";
.main{
 // padding: 45px 0 45px 10%;
  padding-top: 2rem;
}
.app-top {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  > div{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15px;
    .debug();
  }
  div:first-of-type{
    padding-left: 0;
  }
  div:last-of-type{
  }
}

.app-md{
  display: flex;
  flex-wrap: nowrap;
  padding: 25px 0;
  align-items: flex-start;
   div{
    display: inline-flex;
    padding: 0 15px;
    .debug();
  }
}
