@import "../styles";
.main{
  padding-top: 2rem;
  min-width: 1600px;
}

.ftr{
  margin-bottom: 500px;
  >div{
    //border: 1px solid white;
    display: flex;
    justify-content: space-around;
    padding: 0;
    >div{
      padding: 15px;
      //border: 1px solid red;
      display: inline-block;
    }
  }
}
