<div class="container-fluid main col-12">
  <!--top-row *START*-->
  <section class="row">

    <!--top-left-->
    <section class="col-9" >
      <div class="row" style="display: inline-flex">
        <div class="col-9">
          <carousel></carousel>
        </div>
        <div class="col-3">
          <socials></socials>
        </div>
      </div>

      <div class="row" style="display: flex">
        <div class="col-12">
          <app-nav></app-nav>
        </div>
      </div>

      <div class="row" style="display: flex">
        <div class="col-4">
          <hero></hero>
        </div>
        <div class="col-4">
          <hero></hero>
        </div>
        <div class="col-4">
          <hero></hero>
        </div>
      </div>
    </section>

    <!--top-right-->
    <section class="col-3">
      <div class="row">
        <div class="col-12">
          <hero></hero>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <accordion></accordion>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <hero></hero>
        </div>
      </div>

    </section>

  </section>
  <!--top-row *END*-->

  
  <!--down-row *START*-->
  <section class="row">
    <div class="col-3">
      <accordion></accordion>
    </div>
    <div class="col-3">
      <hero></hero>
    </div>
    <div class="col-3">
      <accordion></accordion>
    </div>
    <div class="col-3">
      <socials></socials>
    </div>
  </section>
  <!--down-row *END*-->



</div>

