<div class="container-fluid main">


  <section class="app-top col-12">
    <div class="col-6">
      <carousel></carousel>
    </div>
    <div class="col-3">
      <socials></socials>
    </div>
    <div class="col-3" style="max-width: 400px">
      <hero></hero>
    </div>
  </section>

  <section class="app-md col-12">
    <div class="col-9" >
      <app-nav></app-nav>
    </div>
    <div class="col-3" style="max-width: 400px">
      <accordion></accordion>
    </div>
  </section>

  <div class="col-9">
    <div class="col-3" style="max-width: 400px">
      <accordion></accordion>
    </div>
  </div>
</div>

