<div class="container-fluid main" style="display: flex; justify-content: center">
  <section class="col-11">

    <!--top-row *START*-->
    <section class="row">

      <!--top-left-->
      <section class="col-9" >
        <div class="row" style="display: inline-flex; margin-bottom: 25px">
          <div class="col-9">
            <carousel></carousel>
          </div>
          <div class="col-3">
            <socials></socials>
          </div>
        </div>

        <div class="row" style="display: flex; margin-bottom: 25px">
          <div class="col-12">
            <app-nav></app-nav>
          </div>
        </div>

        <div class="row" style="display: flex; justify-content: space-between">
          <div class="col-3" style="display: inline-flex">
            <friends></friends>
          </div>
          <div class="col-9" style="display: inline-flex; padding: 0">
            <div class="col-6">
              <weather></weather>
            </div>
            <div class="col-6">
              <calendar></calendar>
            </div>
          </div>

        </div>
      </section>

      <!--top-right-->
      <section class="col-3">
        <div class="row" style="margin-bottom: 25px">
          <div class="col-12">
            <hero></hero>
          </div>
        </div>

        <div class="row" style="margin-bottom: 25px">
          <div class="col-12">
            <accordion></accordion>
          </div>
        </div>

        <div class="row" style="margin-bottom: 25px">
          <div class="col-12">
            <slider></slider>
          </div>
        </div>

      </section>

    </section>
    <!--top-row *END*-->


    <!--down-row *START*-->
    <section class="row" style="margin-top: 25px">
      <div class="col-3">
        <!--dropdown-->
      </div>
      <div class="col-3">
        <!--text-panels-->
      </div>
      <div class="col-6">
        <!-- form-->
      </div>
    </section>
    <!--down-row *END*-->

  </section>
</div>

