.main{
  padding: 45px;
}
.app-top {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  > div{
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 15px;
  }
  div:first-of-type{
    padding-left: 0;
  }
  div:last-of-type{
    padding-right: 0;
  }
}
