<div id="dropdown" style="max-width: 350px;">
  <div class="dropdown show">
    <a class="col-12" href="#" id="dwn-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="col-10">
        <span>Dropdown</span>
      </div>
      <div class="caret col-2">
        <div>
          <img src="../../../assets/dropdown/arrow-d.png" alt="">
        </div>
      </div>
    </a>

    <div class="dropdown-menu col-12 dwn" aria-labelledby="dwn-menu">
      <a class="dropdown-item" href="#">Option One</a>
      <a class="dropdown-item" href="#">Option Two</a>
      <a class="dropdown-item" href="#">Option Three</a>
    </div>
  </div>
  </div>

