<div id="txtpanel" class="flex-row">

  <div class="alert-success col-12 txt-block">
    <div class="col-10">Congratulations! You have been success!</div>
    <div class="col-2">
      <a href="#"><span>x</span></a>
    </div>
  </div>

  <div class="alert-info col-12 txt-block">
    <div class="col-10">Congratulations! You have been success!</div>
    <div class="col-2">
      <a href="#"><span>x</span></a>
    </div>
  </div>

  <div class="alert-warning col-12 txt-block">
    <div class="col-10">Congratulations! You have been success!</div>
    <div class="col-2">
      <a href="#"><span>x</span></a>
    </div>
  </div>

  <div class="alert-danger col-12 txt-block">
    <div class="col-10">Congratulations! You have been success!</div>
    <div class="col-2">
      <a href="#"><span>x</span></a>
    </div>
  </div>



</div>
